<h1>Welcome to matltc.com, <%= @user.name %></h1>
<p>
  You have successfully signed up to matltc.com.
</p>
<p>
  To login to the site, just follow <%= link_to "this link", @url %>
</p>
<p>Thanks for joining and have a great day!</p>
