<h1>Sent follow requests</h1>
<p>All follow requests you sent that are pending acceptance.</p>
<% if @follow_requests.any? %>
  <ul>
    <% @follow_requests.each do |follow_request| %>
      <li>
        <p>
          <%= follow_request.recipient.handle %>
          <span class="timestamp">
            <%= time_ago_in_words(follow_request.created_at) %> ago
          </span>
          <%= render partial: 'layouts/follow_unfollow', locals: { other_user:
          follow_request.recipient } %>
        </p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't sent any follow requests.</p>
<% end %>
