<h1>Sent follow requests</h1>
<p>All follow requests you sent that are pending acceptance.</p>
<% @follow_requests.each do |request| %>
  <div class="request-container">
    <%= render partial: 'layouts/banner', locals: {
      user: request.recipient,
      request: request } %>
    <%= render partial: 'follow_unfollow', locals: {
      user: request.recipient,
      request: request } %>
  </div>
<% end %>
