<h1>Discover</h1>
<p>Find new users to follow.</p>
<div class="profile-container">
  <% @users.each do |user| %>
    <%= render partial: 'layouts/banner', locals: { user: user } %>
    <%= render partial: 'layouts/follow_unfollow', locals: { user: user } %>
  <% end %>
</div>
