<h1>Discover</h1>
<p>Find new users to follow.</p>
<% User.all.each do |other_user| %>
  <div class="users-container">
    <h2>
      <%= other_user.name %>
      <%= render partial: 'layouts/follow_unfollow', locals: { other_user: other_user } %>
    </h2>
  </div>
<% end %>
