<div class="page-header">
  <h1>Discover</h1>
  <p>Find new users to follow.</p>
</div>
<div class="requests-container">
  <% @users.each do |user| %>
    <div class="request-container">
      <div class="profile-container">
        <%= render partial: 'layouts/banner', locals: { user: user } %>
      </div>
      <div class="button-container">
        <% if current_user.following_or_sent_pending_request_to?(user) %>
          <% request = FollowRequest.where(
            sender: current_user,
            recipient: user,
            status: ["accepted", "pending"]).first %>
          <%= render partial: 'follow_requests/unfollow', locals: {
            request: request,
            recipient: user } %>
        <% else %>
          <%= render partial: 'follow_requests/follow', locals: {
            recipient: user } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
