<div class="actions-container">
  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to "Delete", post_path(@post), data: { "turbo-method": :delete }
  %>
  <% if current_user.liked_posts.include?(@post) %>
    <%= link_to "Unlike", post_like_path(@post), data: { "turbo-method": :delete }
  %>
  <% else %>
    <%= link_to "Like", post_likes_path(@post), data: { "turbo-method": :post } %>
  <% end %>
</div>
