<div class="comments-container">
  <h2><%= @post.comments.size %> Comments:</h2>
  <% @post.comments.each do |comment| %>
    <div class="author-info-container">
      <p><%= comment.author.email %>, <%= comment.created_at %></p>
    </div>
    <p><%= comment.body %></p>
  <% end %>
</div>
