/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "comment";
@import "post";
@import "profile";

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

div a {
  color: #007bff;
  text-decoration: none;
  margin: 0.5em;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flash {
  padding: 10px;
  margin-bottom: 10px auto;
  border-radius: 5px;
}

.flash.notice {
  background-color: #dff0d8;
  color: #3c763d;
}

.flash.alert,
.flash.error {
  background-color: #f2dede;
  color: #a94442;
}

.navbar {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
}
