.request-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    gap: 1em;
}

.requests-container {
    /* inherit from debug for now */
}
