.post-body-container {
  background-color: darkcyan;
  padding: 0 0.5em;
  margin: 1em;
}

.post-container {
  margin: 10px;
  padding: 10px;
  background-color: darkslategray;
}

.author-info-container {
  font-style: italic;
}
