.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-banner,
.profile-container {
  display: flex;
}

.profile-banner {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  min-width: 25vw;
  padding: 1em;
}

.profile-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 1em;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 1em;
}
