<h1><%= action_name == "edit" ? "Edit" : nil %> Profile</h1>
<p>Keep the world apprised of your state--as if it cares.</p>
<h2>
  <%= render partial: 'layouts/banner', locals: { user: @user } %>
</h2>
