<% if current_user.following_or_sent_pending_request_to?(other_user) %>
  <span>
    <%= link_to "Unfollow",
            follow_request_path(
              FollowRequest.find_by(
                sender: current_user, recipient: other_user)),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </span>
<% else %>
  <span>
    <%= link_to "Follow",
            follow_requests_path(
              follow_request: { recipient_id: other_user.id }),
            data: { turbo_method: :post } %>
  </span>
<% end %>
